body
{
background:#29ABE3;

}

#main
{
text-align:center;
background:white;
}

#compute{
    width:125px;
    margin-left:auto;
    margin-right:auto;
}
#shipper{
    text-align:center;
}
#trucker{
     text-align:center;
 }
#buttonHolder{
    text-align:center;
}
#actors{
text-align:center;
}